<div class="container main-container">
   <div class="row transitionfx">
      <!-- Container -->
      <div class="container no-pad-t">
         <!-- Product Row -->
         <form method="post" id="productForm" action="{{ app.url }}/product/route">
            <div class="row product-details">
                  <div id="product-{{product.variant[0].id}}">
                     {# Begin product images #}
                     <div id="product-images" class="col-md-5 mgb-30-xs">
                        {# Begin main image #}
                        {% set main_image_id = product.variant[0].images.0.id is not empty ? product.variant[0].images : product.images %}

                         {% set best_varia = {} %}

                         {% for test_varia in product.variant %}
                           {% if test_varia.images.0 is not empty %}
                               {% set best_varia = best_varia|merge({(test_varia.Color):(test_varia.images)}) %}
                           {% endif %}
                         {% endfor %}


                         {% if product.variant[0].images.0.id is empty %}
                           {% set main_image_id = best_varia[product.variant[0].Color] is not empty ? best_varia[product.variant[0].Color] : product.images %}
                         {% endif %}

                        <div id="image-main">
                           <div class="row">
                              <div class="col-sm-12">
                                    <div class="thumbnail" id="variant-selected-image-{{product.id}}">
                                       <span class="helper hidden-xs"></span>
                                       <div id="main-product-video" style="display:none"></div>
                                       <img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-450x450.jpg'" id="main-product-image" class="img-responsive" src="" data-image-zoom="" alt="" />
                                    </div>
                              </div>
                           </div>
                        </div>
                        {# Begin main image #}
                        {# Begin image carousel #}

                           <div id="image-carousel" class="row">
                              <div class="image-carousel">
                                 <div id="image-carousel-{{product.variant[0].id}}" class="carousel">
                                    <div>
                                       <div class="item active itemauto" id="variant-image-carousel-copy" style="display:none;">
                                             
                                          <div class="col-xs-2" id="variant-image-thumbnail-copy">
                                             <div class="thumbnail" data-tooltip="" data-toggle="tooltip" data-original-title="{{ name }}">
                                                <img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-450x450.jpg'" class="" src="" data-image-swap="main-product-image" data-image-swap-src=""  data-image-swap-zoom="" alt="" />
                                             </div>
                                          </div>
                                          <div class="col-xs-2" id="variant-video-copy">
                                             {% do app.asset.js(app.url_asset ~ '/assets/js/video-player.js') %}
                                             <div class="thumbnail video" data-video-src="" data-tooltip="" data-toggle="tooltip" data-original-title="">
                                                <i class="video-icon fa fa-play-circle"></i><img onerror="this.src='{{ app.url_asset }}/assets/images/product/image-450x450.jpg'" src="">
                                             </div>
                                          </div>

                                       </div>

                                       <div class="item active itemauto" id="variant-image-carousel-{{product.id}}">
                                          
                                       </div>

                                    </div>
                                 </div>
                              </div>
                           </div>
                        {# End image carousel #}
                     </div>
                     {# End product images #}
                  </div>

               <div class="col-md-7">  <!-- /Begin Product Details -->
                  <h2 class="product-title"> <a href="{{app.url}}/brand/{{product.brand|url_encode}}">{{product.brand}}</a></h2>

                  {# Begin review stars #}
                  {% set review_score = product|average('review_score') %}
                  <div class="hlinks hlinks-rating product-details">
                     <ul class="reviews">
                        {% if review_score > 0 %}
                           <li class="stars">
                              <a onclick="$('.nav-tabs a:last').tab('show')" href="#reviews">{{ base.rating( review_score ) }}</a>
                           </li>
                           <li class="average">
                              <a onclick="$('.nav-tabs a:last').tab('show')" href="#reviews">{{ (review_score * 5)|number_format(1) }} {% if reviews.num_total %}({{ reviews.num_total }}){% endif %}</a>
                           </li>
                        {% endif %}
                        <li class="submit">
                           <a href="{{ app.url }}/review/id/{{product.id}}">Write a review</a>
                        </li>
                     </ul>
                  </div>
                  {# End review #}

                  <h3 class="product-title">{{product.title}}</h3>

                     <div id="variant-availability-price">
                        {# Begin Product Prices #}
                           <div class="price-box" id="price-box-{{product.id}}">
                              <h4 class="product-price" id="product-price-{{product.id}}"></h4>
                              {# Begin regular price #}
                              <h4 class="product-standard-price" id="product-standard-price-{{product.id}}"></h4>
                              {# End regular price #}
                           </div>
                           <div class="price-box" id="pricing-box-{{product.id}}">
                              {# Begin pricing #}
                              <ul class="product">
                                 {# Begin percent off #}
                                    <li class="pricing save-pricing" id="save-pricing-{{product.id}}">
                                    </li>
                                 {# End percent off #}
                                 {# Begin price per month #}
                                 {# if variation.price >= 100 #}
                                 {# <li class="pricing pricing-bill-me-later">
                                       <span id="" data-tooltip data-toggle="tooltip" data-original-title="Spread payments over six months by selecting &quot;Checkout with Paypal&quot; on the Shopping Cart page. Then log in and apply for a &quot;Bill Me Later&quot; account.">
                                          {{ prod.billmelater(variation.price) }}
                                       </span>
                                    </li>#}
                                 {# endif #}
                                 {# End price per month #}
                              </ul>
                              {# End pricing #}
                           </div>
                           <h6 class="incaps no-margin" id="stock-text-{{product.id}}">
                           </h6>
                           <h6 class="incaps no-margin-top">
                              <i class="glyphicon glyphicon-lock"></i> Secure online ordering
                           </h6>
                     </div>


                  {# Begin actions desktop #}
                  {% if app.user.id is not empty %}
                     {% set registries = api.get('/registry', {query:{customer_id:app.user.id}}) %}
                     {% if registries is not empty %}
                        {% set registry_ids = [] %}
                        {% for registry in registries %}
                           {% set registry_ids = registry_ids|merge([registry.id]) %}
                        {% endfor %}
                        {% set items_in_registry = api.get('/registryitem', {query:{registry_id:{'$in':registry_ids},product_id:product.id}}) %}
                     {% endif %}
                     {% set wishlists = api.get('/wishlist', {query:{customer_id:app.user.id}}) %}
                     {% if wishlists is not empty %}
                        {% set wishlist_ids = [] %}
                        {% for wishlist in wishlists %}
                           {% set wishlist_ids = wishlist_ids|merge([wishlist.id]) %}
                        {% endfor %}
                        {% set items_in_wishlist = api.get('/wishlistitem', {query:{wishlist_id:{'$in':wishlist_ids},product_id:product.id}}) %}
                     {% endif %}
                  {% endif %}

                  {% if product.variant[0].price > 0 %}
                     <!--/.size-details-->
                     <!-- Accordion -->
                     <div class="panel-group" id="accordion">
                        {# Begin product description #}
                        {% if product.description is not empty %}
                           {% set full_description = product.description %}
                           <!-- Panel -->
                           <div class="panel panel-default">
                              <!-- Heading -->
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                       Product Details
                                    </a>
                                 </h4>
                              </div>
                              <!-- /Heading -->
                              <!-- Collapse -->
                              <div id="collapseOne" class="panel-collapse collapse">
                                 <div class="panel-body">
                                    <div>{{full_description}}</div>
                                    <div id="variant-description-{{product.id}}" ></div>
                                    

                                 </div>
                              </div>
                              <!-- /Collapse -->
                           </div>
                        {% endif %}
                        {# Begin product features #}
                        {% if product.dynamic_attributes is not empty %}
                           <!-- Panel -->
                           <div class="panel panel-default">
                              <!-- Heading -->
                              <div class="panel-heading">
                                 <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                       Product Features
                                    </a>
                                 </h4>
                              </div>
                              <!-- /Heading -->
                              <!-- Collapse -->
                              <div id="collapseTwo" class="panel-collapse collapse">
                                 <div class="panel-body">
                                    <ul>
                                        {% for feature in product.dynamic_attributes %}
                                           <li>
                                               {{feature}}: {{product[feature]}}
                                           </li> 
                                        {% endfor %}
                                    </ul>
                                 </div>
                              </div>
                              <!-- /Collapse -->
                           </div>
                        {% endif %}
                        <!-- /Panel -->
                        <!-- Panel -->
                        <div class="panel panel-default">
                           <!-- Heading -->
                           <div class="panel-heading">
                              <h4 class="panel-title">
                                 <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    Product Reviews
                                 </a>
                              </h4>
                           </div>
                           <!-- /Heading -->
                           <!-- Collapse -->
                           <div id="collapseThree" class="panel-collapse collapse">
                              <div class="panel-body">
                                 {% include "/product/_partials/reviews.html.twig" %}
                              </div>
                           </div>
                         <!-- /Collapse -->
                        </div>
                        <!-- /Panel -->
                     </div>
                     <!-- /End Accordion -->
                  {% endif %}

                  <h4>Buy now</h4>
                  <!-- Row -->
                  <div class="row grid-20">
                     <div id="variant-details">
                        <!--/.size-details-->
                        {# Begin product Size-Quantity #}
                        <div id="div-quantity-{{product.id}}" class="col-xs-4 col-md-6 no-padding"> {# Begin Row#}
                           <div class="form-group">
                              {# Begin product Quantity #}
                              <div class="input-group col-md-6">
                                 <div class="input-group-btn">
                                    <button class="btn btn-remove btn-link bootstrap-touchspin-down" type="button"><i class="fa fa-minus"></i></button>
                                 </div>
                                 <input data-limit="" id="variant-input-{{product.id}}" class="form-control quantity-selector quanitySniper" value="1" maxlength="2" placeholder="1" name="" type="text">
                                 <div class="input-group-btn">
                                    <button class="btn btn-add btn-link bootstrap-touchspin-up" type="button"><i class="fa fa-plus"></i></button>
                                 </div>
                              </div>
                           </div>
                           {# End product quantity #}
                        </div> {# End Row#}
                        <div id="div-sku-{{product.id}}" class="col-xs-12 col-md-4"> {# Begin Row#}
                           <div class="item-sku">
                               <strong>Item: </strong> #<span id="variant-sku-{{product.id}}"></span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div id="variation-selector-{{product.id}}" class="col-md-12 no-padding">
                  </div>
                  <!-- / End Row -->
                  <!-- / Begin Cart-actions -->
                  <div class="addto">
                     <div class="col-sm-12 col-md-4 no-padding-side">
                           <button type="submit" class="btn btn-block btn-primary btn-bigger" name="action" value="cart">
                              <i class="icon-left ti ti-shopping-cart"></i>
                              <span>Add to Cart</span>
                           </button>
                     </div>
                     <!--/.End cart-actions-->
                     {% include "/product/_partials/list/actions-single.html.twig" %}
                  </div>
               </div>   <!-- /End Product Details -->
            </div>   <!-- / End Row product-details -->
         </div> <!-- / End Product Row Product-details-->
      </form>
   </div>  <!-- / End row transitionfx -->
   <div class="gap"></div>
      <!-- Content Block
      ============================================ -->
      <div class="content-block">

        <!-- Container -->
        <div class="container no-pad-t">

          <!-- Product Tabs -->
          <div class="product-tabs">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-tabs-line-bottom line-pcolor nav-tabs-center case-u" role="tablist">
              <li class="active"><a href="#tab-latest" data-toggle="tab">latest</a></li>
              <li><a href="#tab-featured" data-toggle="tab">featured</a></li>
              <li><a href="#tab-trending" data-toggle="tab">trending</a></li>
            </ul>
            <!-- /Nav Tabs -->

            <!-- Tab panes -->
            <div class="tab-content tab-no-borders">
              <!-- Tab Latest -->
              <div class="tab-pane active" id="tab-latest">
              <!-- Col -->
                {% include "/_partials/promo/new_arrivals.html.twig" %}
              </div>
              <!-- Tab Featured -->
              <div class="tab-pane" id="tab-featured">
              <!-- Col -->
                {% include "/_partials/promo/featured_product.html.twig" %}
              </div>
              <!-- Tab Trending -->
              <div class="tab-pane" id="tab-trending">
              <!-- Col -->
                {% include "/_partials/top_sellers.html.twig" %}
              </div>


            </div>
            <!-- /Tab Panes -->

          </div>
          <!-- /Product Tabs -->

        </div>
        <!-- /Container -->

      </div>
      <!-- /Content Block
      ============================================ -->
   {# New Arrivals Part #}
</div>
