{% set categories = api.get('/category/tree') %}
{#
<pre>
{{ dump(categories) }}
</pre>
#}
     <!-- Header Block
      ============================================== -->      
        <!-- Main Header
        ............................................ -->
        <div class="main-header container">
        
          <!-- Header Cols -->
          <div class="header-cols"> 
          
            <!-- Brand Col -->
            <div class="brand-col hidden-xs">
            
              <!-- vcenter -->
              <div class="vcenter">
                <!-- v-centered -->               
                <div class="vcenter-this">
                    {% if app.params.logoimages is not empty %}
                        {% set logo_info = app.params.logoimages | first %}
                        {% set logo = app.image.getImageUrl('logo','thumbnail',logo_info.id) %}
                    {% endif %}
                    {% if logo is not empty %}
                        <a href="{{app.url}}/" style="background-image: url({{ logo }});background-position: 0 0; background-repeat: no-repeat; display: block; height:27px; width:125px; background-size: contain;"></a>
                    {% else %}
                        <div id="logo-txt"><a href="{{app.url}}/">{{ app.params.site.title }}</a></div>
                    {% endif %}
                </div>
                <!-- v-centered -->
              </div>
              <!-- vcenter -->

            </div>
            <!-- /Brand Col -->

            <!-- Right Col -->
            <div class="right-col">
            
              <!-- vcenter -->
              <div class="vcenter">
              
                <!-- v-centered -->
                <div class="vcenter-this">

                  <!-- Nav Side -->
                  <nav class="nav-side navbar hnav hnav-sm hnav-borderless" role="navigation">
                  
                    <!-- Dont Collapse -->
                    <div class="navbar-dont-collapse no-toggle">
                    
                      <!-- Nav Right -->
                      <ul class="nav navbar-nav navbar-right case-u active-bcolor navbar-center-xs">
                        {% if app.user.id is null %}
                        <li class="dropdown has-panel">
                          <a aria-expanded="false" href="{{app.url}}/account/login" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-user"></i><span class="hidden-sm">sign in</span></a>                          
                        </li>
                          <li class="dropdown has-panel">
                          <a aria-expanded="false" href="{{app.url}}/account/login" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-left ti ti-pencil-alt"></i><span class="hidden-sm">sign up</span></a>                       
                        </li>
                        {# End login button #}
                        {% else %}
                        {% set customer = api.get('/customer/' ~ app.user.id) %}
                        <li>
                            <div class="btn-group my-account">
                                <a type="button" id="dropdown-account" class="btn dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-left ti ti-user"></i>{{ customer.first_name }} {{ customer.last_name}} <span class="fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{app.url}}/account">My Account</a></li>
                                    <li><a href="{{app.url}}/account/orders">Orders</a></li>
                                    <li><a href="{{app.url}}/account/wishlists">Wishlists</a></li>
                                    <li><a href="{{app.url}}/account/registries">Registries</a></li>
                                    <li><div class="divider"></div></li>
                                    <li><a href="{{app.url}}/account/logout">Not {{ customer.first_name}}? Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                        {# End my account button #}                        
                      </ul>
                      <!-- /Nav Right-->

                    </div>
                    <!-- /Dont Collapse -->
                    
                  </nav>
                  <!-- /Nav Side -->
                
                </div>
                <!-- /v-centered -->
              </div>
              <!-- /vcenter -->
              
            </div>
            <!-- /Right Col -->
            
            <!-- Left Col -->
            <div class="left-col">
            
              <!-- vcenter -->
              <div class="vcenter">
                
                <!-- v-centered -->               
                <div class="vcenter-this">
                  
                  <form class="header-search" role="search" method="get" action="{{app.url}}/search">
                    <div class="form-group">
                      <input class="form-control" placeholder="SEARCH" type="text" name="s">
                      <button class="btn btn-empty" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </form>

                </div>
                <!-- v-centered -->
                
              </div>
              <!-- vcenter -->
            
            </div>
            <!-- /Left Col -->
          </div>
          <!-- Header Cols -->
        
        </div>
        <!-- /Main Header
        .............................................. -->
        
        <!-- Nav Bottom
        .............................................. -->
        <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">
        
          <!-- Container -->
          <div class="container">
          
            <!-- Header-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-navicon"></i>
              </button>

                                  {% if app.params.logoimages is not empty %}
                        {% set logo_info = app.params.logoimages | first %}
                        {% set logo = app.image.getImageUrl('logo','thumbnail',logo_info.id) %}
                    {% endif %}
                    {% if logo is not empty %}
                        <a class="navbar-brand visible-xs" href="{{app.url}}/" style="background-image: url({{ logo }});background-position: 0 0; background-repeat: no-repeat; display: block; height:27px; width:125px; background-size: contain;"></a>
                    {% else %}
                        <div id="logo-txt"><a class="navbar-brand visible-xs" href="{{app.url}}/">{{ app.params.site.title }}</a></div>
                    {% endif %}
            </div>
            <!-- /Header-->
          
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-absolute">
            
                <!-- Navbar Center -->
                <ul class="nav navbar-nav navbar-center line-top line-pcolor case-c">
                    <li class="active"><a href="{{ app.url }}/">home</a></li>
                    {% for main_category,items in categories if main_category != "clearance" %}
                        {% if items|length %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{{app.url}}/category/{{main_category}}">{{main_category|replace('-',' ')|title}}
                            <i class="fa fa-angle-down toggler"></i>
                        </a>
                        <ul id="category_item" class="dropdown-menu">
                            {% for category,subitems in items %}
                            {% set i = i + 1 %}
                            <li>
                                <a tabindex="-1" href="{{app.url}}/category/{{category}}">{{category|replace('-',' ')|title}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {# End dropdown #}
                    {% else %}
                    <li>
                        <a href="{{app.url}}/category/{{main_category}}">{{main_category|replace('-',' ')|title}}</a>
                    </li>
                {% endif %}
                {% endfor %}
                </ul>
                <!-- /Navbar Center -->
              
            </div>
            <!-- /Collapse -->
            
            <!-- Dont Collapse -->
            <div class="navbar-dont-collapse">

              <!-- Navbar btn-group -->
              <div class="navbar-btn-group btn-group navbar-right no-margin-r-xs">
              
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-outline" data-toggle="dropdown"><i class="ti-plus"></i></a>
                  
                  <!-- Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <li><a href="#">account home</a></li>
                    <li><a href="#">order history</a></li>
                     <li><a href="#">profile</a></li>
                  </ul>
                  <!-- /Dropdown Menu -->
                  
                </div>
                <!-- /Btn Wrapper -->

                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a aria-expanded="false" class="btn btn-outline" data-toggle="dropdown"><b class="count count-scolor count-round">2</b><i class="ti ti-bag"></i></a>
                  
                    <!-- Dropdown Panel -->
                    <div class="dropdown-menu dropdown-panel dropdown-right" data-keep-open="true">
                      <section>
                        <!-- Mini Cart -->
                        <ul class="mini-cart">
                          <!-- Item -->
                          <li class="clearfix">
                            <img src="images/products/product1.jpg" alt="">
                            <div class="text">
                              <a class="title" href="#">Modern black hat</a>
                              <div class="details">2 x $40.50
                                <div class="btn-group">
                                  <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                  <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- /Item -->
                          
                          <!-- Item -->
                          <li class="clearfix">
                            <img src="images/products/product2.jpg" alt="">
                            <div class="text">
                              <a class="title" href="#">Sexy lace blouse</a>
                              <div class="details">1 x $95.00
                                <div class="btn-group">
                                  <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                  <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- /Item -->
                        </ul>
                        <!-- /Mini Cart -->
                      </section>
                      
                      <section>
                        <div class="row grid-10">
                          <div class="col-md-6">
                            <a class="btn btn-base btn-block margin-y-5" href="cart.html">view cart</a>
                          </div>
                          <div class="col-md-6">
                            <a class="btn btn-primary btn-block margin-y-5" href="checkout.html">checkout</a>
                          </div>
                        </div>
                      </section>
                    </div>
                    <!-- /Dropdown Panel -->
                  
                </div>
                <!-- /Btn Wrapper -->

              </div>
              <!-- /Navbar btn-group -->
              
              <!-- Navbar Left -->
              <ul class="nav navbar-nav navbar-left navbar-right-xs">
                <li class="dropdown has-panel">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="img-left" alt="" src="{{ app.url_asset }}/images/diego/flags/us.gif"><span>USD</span><i class="fa fa-angle-down toggler"></i></a>
                  <!-- Dropdown Panel -->
                  <div id="settings" class="dropdown-menu dropdown-panel" data-keep-open="true">
                    <fieldset>
                      <form>
                        <div class="form-group">
                          <label>Language</label>
                          <select class="form-control">
                            <option>English</option>
                            <option>French</option>
                            <option>German</option>
                            <option>Spanish</option>
                          </select>
                        </div>
                        
                        <div class="form-group">
                          <label>Currency</label>
                          <select class="form-control">
                            <option>US Dollar</option>
                            <option>Kenyan Shillings</option>
                            <option>TZ Shillings</option>
                            <option>British Pound</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label class="checkbox-inline"><input value="" type="checkbox">Remember settings </label>

                        </div>
                        <button class="btn btn-primary btn-block">change</button>
                      </form>
                    </fieldset>
                  </div>
                  <!-- /Dropdown Panel -->
                  
                </li>
              </ul>
              <!-- /Navbar Left -->
            </div>
            <!-- /Dont Collapse -->

          </div>
          <!-- /Container -->
          
        </nav>
        <!-- /Nav Bottom
        .............................................. -->
        
