 
      <!-- Content Block
      ============================================ -->
      <div class="content-block" >
      
        <!-- Container -->
        <div class="container cont-md">
        
          <!-- Section Title -->
          <div class="section-title line-pcolor">
            <h2>all premium brands</h2>
            <p>Helena is a freelance fashion designer who specialises in print designs and combining fabrics. My designs have been sold all over the world.</p>
          </div>
          <!-- /Section Title -->
          
          <!-- Slider Wrapper -->
          <div class="brand-slider">
          
            <!-- BxSlider -->
            <div class="bxslider" data-call="bxslider" data-options="{pager:false, slideMargin:20}" data-breaks="[{screen:0, slides:2}, {screen:460, slides:3}, {screen:768, slides:5}]">
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="{{ app.url_asset }}/images/diego/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->

              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="{{ app.url_asset }}/images/diego/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="{{ app.url_asset }}/images/diego/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="{{ app.url_asset }}/images/diego/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="{{ app.url_asset }}/images/diego/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="{{ app.url_asset }}/images/diego/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
              
              <!-- Slide -->
              <div class="slide">
                <img class="img-main" src="{{ app.url_asset }}/images/diego/company1.jpg" alt=""/>
              </div>
              <!-- /Slide -->
            </div>
            <!-- /BxSlider -->
            
          </div>
          <!-- Slider Wrapper -->
        </div>
        <!-- /Container -->
      
      </div>
      <!-- Content Block
      ============================================ -->